html, body {
    margin: 0; height: 100%; overflow: hidden
}
body{
    text-align: center;
    background: url('https://preview.redd.it/d9spuwer2c491.png?width=1050&format=png&auto=webp&v=enabled&s=f6b6908ea6b25b4914c6aadce02a54ed064f4ae9') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
      
}

.title{

    margin-top: 20px;
    
}

#name, .age{
    font-family: 'Press Start 2P', cursive;
    color: #FF9F01;
    text-shadow: #2A1702 3px 4px 1px;
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 130px;
    
}

.age{
    font-size: 33px;
}
.age{
    margin-top: -130px;
    visibility: hidden;
 
}

.btns{
    display: flex;
    justify-content: space-evenly;
    padding-top: 15px;
    margin-top: -400px;
    margin-bottom: -78px;

}

.btnsText{
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 50px;
    margin-right: 40px;
    margin-top: 40px;
   

}

.scores{
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: -80px;
    margin-right: -20px;
    margin-left: -20px;
}

.feed, .play, .sleep{
   
    border: 2px solid black ;
    border-radius: 5px;
    margin-top: 100px;
    
 
}

.img-container{
   position: sticky;
   height: 330px;
   margin-top: -10px;
   margin-bottom: -75px;
   
   z-index: -1;
}

.egg{
    position: relative;
    height: 100px;
    width: 100px;
    left: 430px;
    bottom: 285px;
    visibility: visible;
    z-index: -1;
    
   
    
}
.charmander{
    position: relative;
    height: 150px;
    width: 150px;
    left: 300px;
    bottom: 290px;
    visibility: hidden;
    z-index: -1;
    

}

.charmeleon{
    position: relative;
    height: 250px;
    width: 250px;
    left: 125px;
    bottom: 275px;
    visibility: hidden;
    z-index: -1;

}

.charizard{
    position: relative;
    height: 500px;
    width: 460px;
    right: 235px;
    bottom: 270px;
    visibility: hidden;
    
    
    
}

.deadPet{
    position: relative;
    height: 250px;
    bottom: 450px;
    border-radius: 150px;
    border: 2px solid rgb(253, 154, 25);
    right: 0px;
    box-shadow: 6px 4px 15px 7px black;
    filter: sepia();
    visibility: hidden;
    z-index: -1;

    
}

.sushi2{
    position: relative;
    height: 80px;
    width: 90px;
    right: 220px;
    top: 290px;
    z-index: -1;
    
}

.mcdonalds{
    position: relative;
    height: 55px;
    width: 60px;
    left: 220px;
    top: 290px;
    z-index: -1;
    
}

.food{
    visibility: hidden;
}

.pokeball{
    position: relative;
    height: 25px;
    width: 25px;
    right: 150px;
    top: 225px;
    z-index: -1;
}

.purplePokeball{
    position: relative;
    height: 30px;
    width: 30px;
    left: 130px;
    top: 260px;
    z-index: -1;
}

.toys{
    visibility: hidden;
}
/* 
.container .progress{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #e30c0c;
    animation: progressAnimation 10s forwards;
}

@keyframes progressAnimation {
    0% {width: 0%;}
    100% {width: 100%;}
} */
h6{
    font-family: 'Press Start 2P', cursive;
    color: #2A1702;
    text-shadow: #FF9F01 1px 1px 1px;
    font-size: 20px;
}

.animate__zoomIn{
    --animate-duration: 2s;
}
