
body{
    background-color: grey;
    text-align: center;
    background: url('https://preview.redd.it/d9spuwer2c491.png?width=1050&format=png&auto=webp&v=enabled&s=f6b6908ea6b25b4914c6aadce02a54ed064f4ae9') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
      
}
.title{

    margin-top: 20px;
    
}
#name{
    font-family: 'Press Start 2P', cursive;
    color: #FF9F01;
    text-shadow: #2A1702 3px 4px 1px;
    font-size: 50px;
    
}
.start{
    margin-top: 30px;
}
.btns{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    
}
.btnsText{
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-evenly;

}
.scores{
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-evenly;
}
.feed .sleep .play{
   
    border: 1px solid black ;
}

.egg{
    height: 250px;
    width: 250px;
    margin-top: 30px;
}

.container{
    height: 20px;
    background-color: #ccc;
    position: relative;
}

.progress{
    position: absolute;
    height: 100%;
    background-color: #e30c0c;
    animation: progressAnimation 10s forwards;
}

@keyframes progressAnimation {
    0% {width: 0%;}
    100% {width: 100%;}
}
h6{
    font-family: 'Press Start 2P', cursive;
    color: #2A1702;
    text-shadow: #FF9F01 1px 1px 1px;
    font-size: 20px;
}
